@import "tailwindcss";
@import "tw-animate-css";





/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
} */

ul {
  list-style-type: disc;
  padding-left: 1.5rem; /* space for bullets */
}

ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}


/* @keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(18px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */











.blueprint-bg {
  background-color: #1A1A1A;
  background-image:
    linear-gradient(
      rgba(131, 96, 8, 0.07) 1px,
      transparent 2px
    ),
    linear-gradient(
      90deg,
      rgba(251, 187, 25, 0.07) 1px,
      transparent 2px
    );
  background-size: 50px 50px;
}

